body { background: #e74998; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-token-0 { color: #74e701; font-size: 14px; margin-bottom: 5px; }
.block-uploader-1 { color: #9677c0; font-size: 18px; margin-bottom: 5px; }
.block-product-2 { color: #9e2f8f; font-size: 20px; margin-bottom: 5px; }
.block-invoice-3 { color: #d8d362; font-size: 12px; margin-bottom: 5px; }
.block-sms-4 { color: #e61b6b; font-size: 21px; margin-bottom: 5px; }